# =================================
# Node / Angular
# =================================
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node dependencies
/node_modules
**/node_modules

# Logs
npm-debug.log*
yarn-error.log*

# Angular cache
/.angular/cache

# Sass
.sass-cache/

# Misc
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# =================================
# .NET / Visual Studio
# =================================
# Build folders
/bin
/obj
**/bin
**/obj

# Visual Studio files
*.user
*.suo
*.vs/
*.vssscc
*.vsscc

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =================================
# IDEs / Editors
# =================================
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# =================================
# System files
# =================================
.DS_Store
Thumbs.db
